<div class="aboot_detail">
  <div id="gravatar">
    <% email_address = @aboot.user.email %>
    <% hash = Digest::MD5.hexdigest(email_address) %>
    <% image_src = "http://www.gravatar.com/avatar/#{hash}" %>
    <img src="<%= image_src %>">
  </div>
  
  <div id="aboot_body">
    <div id="user_handle">
      <a href="/users/<%= @aboot.user.id %>">@<%= @aboot.user.handle %></a>
    </div>

    <div id="aboot_content">
      <p><%= @aboot.content %></p>
    </div>
  </div>

  <div id="aboot_buttons">
    <%= erb :_reboot_button %>
    <%= erb :_favorite_button %>
  </div>
</div>